.section-total-options {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .table {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .btn-points {
            color: hsl(var(--accent-foreground));
            background-color: hsl(var(--accent));
        }


        .line-top {
            border-top: 1px solid hsl(var(--border));
        }

        .line-bottom {
            border-bottom: 1px solid hsl(var(--border));
        }

        .row-active {
            background-color: hsl(var(--muted) / 0.5);
        }
    }
}
